[submodule "Assets/latkUnity"]
	path = Assets/latkUnity
	url = https://github.com/LightningArtist/latkUnity
[submodule "Assets/latkxColorPicker"]
	path = Assets/latkxColorPicker
	url = https://github.com/n1ckfg/latkxColorPicker
[submodule "Assets/latkxNetwork"]
	path = Assets/latkxNetwork
	url = https://github.com/n1ckfg/latkxNetwork
[submodule "Assets/latkxGvr"]
	path = Assets/latkxGvr
	url = https://github.com/n1ckfg/latkxGvr
[submodule "Assets/latkxWacom"]
	path = Assets/latkxWacom
	url = https://github.com/n1ckfg/latkxWacom
[submodule "Assets/latkxGDrive"]
	path = Assets/latkxGDrive
	url = https://github.com/n1ckfg/latkxGDrive
